/* this css file will only style the homepage of our site */
.tabs {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #feffe2;
  border: solid 5px #73410b;
  border-radius: 15px;
}

a{
  margin-left: 75px;
  margin-right: 120px;
}

.sweets {
  margin-left: 55px;
  margin-right: 100px;
}

.name{
  float: left;
  width: 500px;
  background-color: rgb(242 197 208/0.8);
  border: solid 5px #73410b;
  border-radius: 15px;
  margin-right: 30px;
}

#my-portrait {
  display: block;
  margin: auto;
  padding-top: 30px;
  width: 433px;
  height: 325px;
}

h2, h3, h4{
  color: #f7639a;
}

h2 {
  padding: 10px;
  margin-top:30px;
  margin-left: 50px;
}

h3{
  padding: 10px;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 30px;
}

.blinkies{
  display: inline-block;
  margin-left: 15px;
}

.desc{
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 40px;
}

.stamps{
  display: inline-block;
  margin-left: 20px;
}

.stampsizer{
  width: 99px;
  height: 56px;
}

.minor-section {
  display: inline-block;
  width: 725px;
}

.topsect-imgs{
  display: inline-flex;
}

.ponies{
  width: 200px;
  float: right;
  margin-left: 10px;
  margin-right: 200px;  
  margin-bottom: 30px;
}
.girl{
  float:right;
}

.epic{
  width: 100px;
  height: 100px;
  float:right;
  margin-left: 10px;
  margin-bottom: 30px;
  margin-right: 30px;
}

.piccolo2{
  margin-left: 20px;
}

.bunnywife{
  display: inline-flex;
}

.ajlove{
  height: 100px;
  margin-top: 10px;
  margin-left: 100px;
}


.subheader{
  width: 50%;
  padding: 10px;
  background-color:#feffe2;
  border: solid 5px #73410b;
  border-radius: 15px;
  margin-bottom: 10px;
}

h4{
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 36px;
}

.favs {
  padding: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 600px;
  height: 350px;
  display: inline-flex;
  border: solid 5px #73410b;
  border-radius: 15px;
  background-color: rgb(242 197 208/0.8);
}

h5 {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 20px;
  color:#801040;
  font-style:italic;
  font-weight:bold;
}

ul li {
  margin-bottom: 2px;
}

.blingee {
  height:auto;
  margin-right: 20px;
}

.kakavege{
  height:300px;
  margin-right: 20px;
}

.princess{
  height:300px;
}