/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
h1{
  letter-spacing: 1px;
  word-spacing: 5px;
  margin-top: 50px;
  margin-left: 50px;
  font-size: 48px;
}

.usagi {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 30px;
}

h2, h3 {
  font-size: 36px;
  color: #c06184;
  margin-top: 20px;
  margin-left: 50px;
  margin-bottom: 20px;
}

p {
  margin-top: 10px;
  color:#801040;
  font-size: 20px;
}

a{
  font-size: 20px;
  margin-left: 10px;
}

.lab-desc{
  display: inline-flex;
}

.description{
  padding: 30px;
  margin-bottom: 10px;
  margin-left: 100px;
  margin-top: 60px;
  border: solid 7px #73410b;
  border-radius: 15px;
  background-color: rgb(242 197 208/0.8);
  width: 40%;
  height: 50%;
}

.pocky-divider{
  float: right;
  width: 500px;
  margin-top: 10px;
  margin-right: 150px;
}

.kero-chan{
  float: right;
  margin-right: 30px;
}

.minor-section{
  width:50%;
  justify-content: center;
}

.divider{
  display: flex;
  justify-content: center;
}

.subheader{
  width: 550px;
}

#output{
  padding: 30px;
  margin-bottom: 10px;
  border: solid 7px #73410b;
  border-radius: 15px;
  background-color: rgb(242 197 208/0.8);
}

.file-structure{
  margin-left: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sweets {
  margin-top: 10px;
  margin-left: 45px;
  margin-right: 40px;
}