.subheader {
    color: #f7639a;
    width: 550px;
}
  
h2 {
    font-size: 36px;
    color: #f7639a;
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 20px;
}
  
h3 {
    font-size: 24px;
    color: #f7639a;
}

.minor-section{
    justify-content: center;
    color: #801040;
    font-size: 18px;
 }

.results { 
    justify-content: center;
    color: #801040;
    font-size: 18px;
    padding: 30px;
    margin-bottom: 10px;
    border: solid 5px #73410b;
    border-radius: 15px;
    background-color: rgb(242 197 208/0.8);
}

#thunderclan{
    margin-top: 20px;
    margin-bottom: 60px;
    margin-right: 20px;
    margin-left: 20px;
}

#firestar{
    width: 400px;
}

#leafpool{
    width: 350px;
}

#silverstream{
    height: 400px;
}

#riverclan{
    margin-bottom: 70px; 
    margin-right: 30px;
}

#mosspelt{
    width: 400px;
}

#finchkit{
    width: 500px;
}

#windclan{
    margin-bottom: 80px;
    margin-left: 75px;
}

#tallstar{
    width: 400px;
}

#shadowclan{
    margin-bottom: 50px;
    margin-left: 30px;
    margin-right: 30px;
}

#tawnypelt{
    width: 300px;
}

#tigerstar{
    width: 400px;
}

a{
  font-size: 20px;
  margin-left: 10px;
}
  
.sweets {
  margin-top: 10px;
  margin-left: 45px;
  margin-right: 40px;
}