.minor-section {
    padding: 30px;
    margin-bottom: 30px;
    border: solid 3px #c06184;
    background-color: #d5cba0;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    color:#801040;
}

h1,h2, h3{
    color:#c06184;

}

h1{
    font-size: 48px;
}

h2, h3{
    font-size: 36px;
}