.header{
    padding: 10px;
    margin-bottom: 10px;
    border: solid 7px #e9a0bb;
    border-style: solid;
    background-color: #73410b;
}

.minor-section {
    padding: 30px;
    margin-bottom: 30px;
    border: solid 7px #73410b;
    border-style: solid;
    background-color:#e9a0bb
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
}

h1{
    font-size: 48px;
    color: #fffae4;
    margin-top: 50px;
    margin-left: 50px;
}

h2, h3{
    font-size: 40px;
    color:#c06184;
    margin-left: 10px;
}

a{
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10    px;
  }  